<h1>Jobs#new</h1>
<%= form_for @job do |f| %>
    <%= f.collection_select :category_id, Category.all, :id, :name, {promt: "Choose a category" }%>
    <%= f.text_field :title, placeholder: "title" %>
    <%= f.text_field :company, placeholder: "company" %>
    <%= f.text_field :about, placeholder: "about" %>
    <%= f.text_field :url, placeholder: "url" %>

    <%= f.submit "submit"%>
<% end %>

<%= link_to "back home", root_path%>
