<h1>Jobs#show</h1>
<div>
    <h3><%=@job.title%></h3>
    <h3><%=@job.company%></h3>
    <h3><%=@job.about%></h3>
    <h3><%=@job.url%></h3>
</div>
<div>
    <%=link_to 'home', root_path%>
    <%=link_to 'edit', edit_job_path%>
    <%=link_to 'delete', job_path(@job), method: :delete, data: { confirm: "Are you sure you want to delete job?" }%>
</div>
